<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />

<a href="/">&larr; Back Home</a>

<% article.comments.forEach(function(comment) { %>
  <div class="well">
    <p>
        "<%= comment.content %>" - <%= comment.name %>
    </p>
  </div>
<% }) %>

<hr />

<h3>Leave a comment</h3>

<form action="/articles/<%= article.id %>/comments" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>

  <div class="form-group">
    <label for="content">Comment</label>
    <input type="text" class="form-control" id="content" name="content" required>
  </div>

  <input type="submit" class="btn btn-primary" value="Post it!">
</form>